Importação Energia/json/config_energia.json
/Importação NFs Digitalizadas/json/config_nfs_digitalizadas.json
__pycache__/
*.pyc
/logs/
/*.log
# Arquivos que podem conter segredos
.env
*.key
*.pem
*.secret
*.config